# Objective : 12. Data Transformation using Map, Apply & GroupBy
<hr>

1. Transforming Series using Map
2. Transforming across multiple Series using apply
3. GroupBy - Splitting, Applying & Combine

<hr>

In [1]:
import pandas as pd
import numpy as np
hr_data = pd.read_csv('../Data/HR_comma_sep.csv.txt')
hr_data.rename(columns={'sales':'department'}, inplace=True)

### 1. Transforming Series using Map

In [3]:
hr_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

* map for transforming left column with some categorical information

In [5]:
hr_data['left_categorical'] = hr_data.left.map({1:'True',0:'False'})

In [6]:
hr_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary,left_categorical
0,0.38,0.53,2,157,3,0,1,0,sales,low,True
1,0.80,0.86,5,262,6,0,1,0,sales,medium,True
2,0.11,0.88,7,272,4,0,1,0,sales,medium,True
3,0.72,0.87,5,223,5,0,1,0,sales,low,True
4,0.37,0.52,2,159,3,0,1,0,sales,low,True

### 2. Transforming data across multiple Series
1. If satisfaction_level > .9, increase number_project by 1
2. Multiple columns can't be dealt with map, we need apply for that

In [8]:
def increase_proj(r):
    if r.satisfaction_level > .9:
        return r.number_project + 1
    else:
        return r.number_project

hr_data['new_number_project'] = hr_data.apply(increase_proj, axis=1)

* Filtering all the folks for which this happened

In [10]:
hr_data[hr_data.number_project != hr_data.new_number_project].head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary,left_categorical,new_number_project
7,0.92,0.85,5,259,5,0,1,0,sales,low,True,6
106,0.91,1.00,4,257,5,0,1,0,accounting,medium,True,5
191,0.92,0.87,4,226,6,1,1,0,technical,medium,True,5
231,0.92,0.99,5,255,6,0,1,0,sales,low,True,6
352,0.91,0.91,4,262,6,0,1,0,support,low,True,5

### 3. GroupBy

In [17]:
grouped = hr_data.groupby(['department'])

* Compute first & last of group values

In [12]:
grouped.first()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,salary
department,,,,,,,,,
IT,0.11,0.93,7,308,4,0,1,0,medium
RandD,0.12,1.00,3,278,4,0,1,0,medium
accounting,0.41,0.46,2,128,3,0,1,0,low
hr,0.45,0.57,2,134,3,0,1,0,low
management,0.85,0.91,5,226,5,0,1,0,medium
marketing,0.40,0.54,2,137,3,0,1,0,medium
product_mng,0.43,0.54,2,153,3,0,1,0,medium
sales,0.38,0.53,2,157,3,0,1,0,low
support,0.40,0.55,2,147,3,0,1,0,low
technical,0.10,0.94,6,255,4,0,1,0,low

In [13]:
grouped.last()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,salary
department,,,,,,,,,
IT,0.90,0.92,4,271,5,0,1,0,medium
RandD,0.81,0.92,5,239,5,0,1,0,medium
accounting,0.36,0.54,2,153,3,0,1,0,medium
hr,0.40,0.47,2,144,3,0,1,0,medium
management,0.42,0.57,2,147,3,1,1,0,low
marketing,0.44,0.52,2,149,3,0,1,0,low
product_mng,0.46,0.55,2,147,3,0,1,0,medium
sales,0.39,0.45,2,140,3,0,1,0,medium
support,0.37,0.52,2,158,3,0,1,0,low
technical,0.43,0.57,2,159,3,1,1,0,low

In [18]:
grouped.nth(2)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,salary
department,,,,,,,,,
IT,0.36,0.56,2,132,3,0,1,0,medium
RandD,0.37,0.55,2,127,3,0,1,0,medium
accounting,0.09,0.62,6,294,4,0,1,0,low
hr,0.45,0.55,2,140,3,0,1,0,low
management,0.42,0.48,2,129,3,0,1,0,low
marketing,0.11,0.77,6,291,4,0,1,0,low
product_mng,0.76,0.86,5,223,5,1,1,0,medium
sales,0.11,0.88,7,272,4,0,1,0,medium
support,0.40,0.54,2,148,3,0,1,0,low
technical,0.45,0.50,2,126,3,0,1,0,low

In [15]:
grouped.groups

{'IT': Int64Index([   61,    62,    63,    64,    65,    70,   138,   139,   140,
               141,
             ...
             14808, 14809, 14810, 14815, 14929, 14930, 14931, 14932, 14933,
             14938],
            dtype='int64', length=1227),
 'RandD': Int64Index([  301,   302,   303,   304,   305,   453,   454,   455,   456,
               457,
             ...
             14816, 14817, 14818, 14819, 14820, 14939, 14940, 14941, 14942,
             14943],
            dtype='int64', length=787),
 'accounting': Int64Index([   28,    29,    30,    79,   105,   106,   107,   155,   181,
               182,
             ...
             14849, 14850, 14851, 14896, 14897, 14898, 14946, 14972, 14973,
             14974],
            dtype='int64', length=767),
 'hr': Int64Index([   31,    32,    33,    34,   108,   109,   110,   111,   184,
               185,
             ...
             14854, 14855, 14899, 14900, 14901, 14902, 14975, 14976, 14977,
             14978],
            dtype='int64', length=739),
 'management': Int64Index([   60,    82,   137,   158,   213,   235,   290,   311,   366,
               387,
             ...
             14598, 14653, 14674, 14729, 14750, 14805, 14826, 14873, 14928,
             14949],
            dtype='int64', length=630),
 'marketing': Int64Index([   77,    83,    84,    85,   148,   149,   150,   151,   152,
               153,
             ...
             14827, 14828, 14829, 14874, 14875, 14876, 14944, 14950, 14951,
             14952],
            dtype='int64', length=858),
 'product_mng': Int64Index([   66,    67,    68,    69,    71,    72,    73,    74,    75,
                76,
             ...
             14737, 14738, 14811, 14812, 14813, 14814, 14934, 14935, 14936,
             14937],
            dtype='int64', length=902),
 'sales': Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                 9,
             ...
             14962, 14963, 14964, 14965, 14966, 14967, 14968, 14969, 14970,
             14971],
            dtype='int64', length=4140),
 'support': Int64Index([   46,    47,    48,    49,    50,    51,    52,    53,    54,
                55,
             ...
             14947, 14990, 14991, 14992, 14993, 14994, 14995, 14996, 14997,
             14998],
            dtype='int64', length=2229),
 'technical': Int64Index([   35,    36,    37,    38,    39,    40,    41,    42,    43,
                44,
             ...
             14980, 14981, 14982, 14983, 14984, 14985, 14986, 14987, 14988,
             14989],
            dtype='int64', length=2720)}

In [18]:
hr_data.groupby(['department','salary']).groups

{('IT',
  'high'): Int64Index([ 1281,  1359,  1437,  1515,  3192,  3193,  3194,  3195,  3200,
              3270,  3504,  3799,  3802,  4260,  4264,  4269,  4720,  5097,
              5098,  5557,  5558,  5559,  5560,  5561,  5634,  5712,  5790,
              5865,  5943,  6024,  6093,  6547,  6550,  7009,  7011,  7012,
              7087,  7474,  7544,  7845,  7846,  7847,  7848,  7849,  7998,
              8076,  8154,  8229,  8307,  8308,  8309,  8314,  8385,  8772,
              8917,  8919,  9375,  9835, 10213, 10593, 10671, 10672, 10673,
             10678, 10747, 10749, 10980, 11268, 11601, 11700, 11707, 12804,
             12882, 12883, 12884, 12889, 12958, 12960, 13191, 13479, 13812,
             13911, 13918],
            dtype='int64'),
 ('IT',
  'low'): Int64Index([  138,   139,   140,   141,   142,   147,   214,   215,   216,
               217,
             ...
             14731, 14732, 14733, 14734, 14806, 14807, 14808, 14809, 14810,
             14815],
            dtype='int64', length=609),
 ('IT',
  'medium'): Int64Index([   61,    62,    63,    64,    65,    70,   294,   295,   300,
               376,
             ...
             14511, 14587, 14663, 14739, 14929, 14930, 14931, 14932, 14933,
             14938],
            dtype='int64', length=535),
 ('RandD',
  'high'): Int64Index([ 1827,  1905,  1983,  3201,  3202,  3203,  3657,  3658,  3659,
              3660,  3661,  3735,  3813,  4044,  4729,  5185,  6025,  6026,
              6027,  6028,  6177,  6255,  6330,  6408,  6558,  7018,  7476,
              7477,  7552,  8009,  8315,  8316,  8317,  8318,  8773,  8774,
              8775,  8776,  8777,  8850,  8928,  9382,  9384, 10300, 11659,
             11661, 11662, 13870, 13872, 13873, 14941],
            dtype='int64'),
 ('RandD',
  'low'): Int64Index([  605,   833,   834,   835,   836,   837,   985,   986,   987,
               988,
             ...
             13213, 13214, 13215, 13216, 13217, 13871, 13874, 13875, 14816,
             14942],
            dtype='int64', length=364),
 ('RandD',
  'medium'): Int64Index([  301,   302,   303,   304,   305,   453,   454,   455,   456,
               457,
             ...
             14666, 14667, 14668, 14817, 14818, 14819, 14820, 14939, 14940,
             14943],
            dtype='int64', length=372),
 ('accounting',
  'high'): Int64Index([  384,  1632,  1710,  3234,  3235,  3236,  3387,  3540,  3664,
              3768,  4124,  4228,  4684,  4686,  4734,  4762,  5190,  5524,
              5525,  5526,  5982,  5983,  5984,  6060,  6488,  6564,  6592,
              6795,  7510,  7888,  8349,  8350,  8351,  8502,  8580,  8655,
              8780,  8883,  9084,  9340,  9613,  9614,  9799,  9801,  9843,
              9844,  9877,  9920,  9921,  9996,  9997, 10072, 10073, 10334,
             10636, 10637, 10638, 10866, 10944, 11101, 11214, 11971, 11972,
             12384, 12847, 12848, 12849, 13077, 13155, 13312, 13425, 14182,
             14183, 14595],
            dtype='int64'),
 ('accounting',
  'low'): Int64Index([   28,    29,    30,    79,   155,   224,   225,   232,   410,
               486,
             ...
             14621, 14697, 14698, 14699, 14773, 14774, 14775, 14849, 14850,
             14851],
            dtype='int64', length=358),
 ('accounting',
  'medium'): Int64Index([  105,   106,   107,   181,   182,   183,   258,   259,   260,
               308,
             ...
             14741, 14747, 14823, 14896, 14897, 14898, 14946, 14972, 14973,
             14974],
            dtype='int64', length=335),
 ('hr',
  'high'): Int64Index([  111,  1788,  1866,  3237,  3238,  3465,  3618,  3696,  3772,
              4233,  4687,  4690,  5219,  5527,  5528,  5985,  5986,  5987,
              5988,  6138,  6216,  6594,  7054,  7057,  8352,  8353,  8733,
              8811,  8812,  8887,  9343,  9802,  9805, 10338, 10639, 10640,
             10641, 10642, 12111, 12850, 12851, 12852, 12853, 14322, 14902],
            dtype='int64'),
 ('hr',
  'low'): Int64Index([   31,    32,    33,    34,   226,   227,   228,   565,   566,
               641,
             ...
             14245, 14437, 14438, 14439, 14776, 14777, 14852, 14853, 14854,
             14855],
            dtype='int64', length=335),
 ('hr',
  'medium'): Int64Index([  108,   109,   110,   184,   185,   186,   187,   261,   262,
               263,
             ...
             14744, 14778, 14779, 14899, 14900, 14901, 14975, 14976, 14977,
             14978],
            dtype='int64', length=359),
 ('management',
  'high'): Int64Index([ 1203,  2217,  3114,  3363,  3667,  4127,  4509,  5096,  5325,
              5556,
             ...
             14148, 14149, 14150, 14151, 14186, 14204, 14205, 14206, 14207,
             14208],
            dtype='int64', length=225),
 ('management',
  'low'): Int64Index([   82,   137,   158,   213,   235,   290,   366,   442,   463,
               518,
             ...
             14446, 14501, 14577, 14653, 14674, 14729, 14805, 14873, 14928,
             14949],
            dtype='int64', length=180),
 ('management',
  'medium'): Int64Index([   60,   311,   387,   539,   615,   691,   767,   843,   919,
               974,
             ...
             13727, 13881, 14005, 14089, 14157, 14271, 14522, 14598, 14750,
             14826],
            dtype='int64', length=225),
 ('marketing',
  'high'): Int64Index([  306,   540,   618,  2295,  3289,  3662,  3668,  3891,  4122,
              4128,  4129,  4130,  4434,  4587,  4588,  4732,  5194,  5655,
              6486,  6492,  6493,  6562,  6953,  6954,  6955,  7023,  7029,
              7107,  7260,  7480,  7488,  7942,  8013,  8404,  8474,  8482,
              8778,  9006,  9393,  9471,  9549,  9612,  9624,  9702,  9703,
              9842,  9919,  9995, 10071, 10312, 11099, 11105, 11106, 11107,
             11484, 11608, 11665, 11673, 11796, 11949, 11970, 11998, 12306,
             12540, 12618, 13310, 13316, 13317, 13318, 13695, 13819, 13876,
             13884, 14007, 14160, 14181, 14209, 14517, 14751, 14829],
            dtype='int64'),
 ('marketing',
  'low'): Int64Index([   83,    84,    85,   148,   149,   150,   151,   152,   153,
               159,
             ...
             14524, 14525, 14601, 14752, 14874, 14875, 14876, 14950, 14951,
             14952],
            dtype='int64', length=402),
 ('marketing',
  'medium'): Int64Index([   77,   382,   388,   389,   458,   464,   465,   466,   534,
               542,
             ...
             14669, 14675, 14676, 14677, 14745, 14753, 14821, 14827, 14828,
             14944],
            dtype='int64', length=376),
 ('product_mng',
  'high'): Int64Index([   72,  1593,  1671,  1749,  3196,  3197,  3198,  3199,  3348,
              3426,  3579,  3804,  4267,  4725,  5562,  5563,  6021,  6022,
              6023,  6097,  6099,  6553,  7015,  7548,  7850,  7851,  7852,
              7853,  8310,  8311,  8312,  8313,  8463,  8541,  8619,  8694,
              9379,  9840, 10674, 10675, 10676, 10677, 10827, 10905, 11175,
             11253, 11264, 11445, 11523, 11704, 11835, 11988, 12072, 12885,
             12886, 12887, 12888, 13038, 13116, 13386, 13464, 13475, 13656,
             13734, 13915, 14046, 14199, 14283],
            dtype='int64'),
 ('product_mng',
  'low'): Int64Index([   73,   143,   144,   145,   146,   219,   220,   221,   222,
               448,
             ...
             14659, 14660, 14735, 14736, 14737, 14738, 14811, 14812, 14813,
             14814],
            dtype='int64', length=451),
 ('product_mng',
  'medium'): Int64Index([   66,    67,    68,    69,    71,    74,    75,    76,   296,
               297,
             ...
             14583, 14584, 14585, 14586, 14661, 14662, 14934, 14935, 14936,
             14937],
            dtype='int64', length=383),
 ('sales',
  'high'): Int64Index([  696,   774,   852,   930,  1008,  1086,  1164,  1242,  1320,
              1398,
             ...
             13503, 13581, 13620, 13888, 13890, 13929, 13940, 13944, 13948,
             14121],
            dtype='int64', length=269),
 ('sales',
  'low'): Int64Index([    0,     3,     4,     5,     6,     7,     8,     9,    10,
                11,
             ...
             14958, 14959, 14960, 14961, 14962, 14963, 14964, 14965, 14966,
             14967],
            dtype='int64', length=2099),
 ('sales',
  'medium'): Int64Index([    1,     2,    99,   100,   101,   102,   103,   104,   177,
               178,
             ...
             14891, 14892, 14893, 14894, 14895, 14945, 14968, 14969, 14970,
             14971],
            dtype='int64', length=1772),
 ('support',
  'high'): Int64Index([  657,   735,   813,   891,   969,  2139,  2334,  2412,  2490,
              2568,
             ...
             12949, 13018, 13269, 13313, 13446, 13450, 13542, 13879, 14085,
             14868],
            dtype='int64', length=141),
 ('support',
  'low'): Int64Index([   46,    47,    48,    49,    50,    51,    52,    53,    54,
                55,
             ...
             14947, 14990, 14991, 14992, 14993, 14994, 14995, 14996, 14997,
             14998],
            dtype='int64', length=1146),
 ('support',
  'medium'): Int64Index([  309,   428,   461,   504,   505,   506,   537,   581,   582,
               583,
             ...
             14748, 14792, 14793, 14794, 14795, 14824, 14867, 14870, 14871,
             14872],
            dtype='int64', length=942),
 ('technical',
  'high'): Int64Index([  189,   267,   345,   423,   462,   501,   579,  1047,  1125,
              1944,
             ...
             13851, 13906, 14400, 14478, 14556, 14634, 14673, 14712, 14790,
             14980],
            dtype='int64', length=201),
 ('technical',
  'low'): Int64Index([   35,    36,    37,    38,    39,    40,    41,    42,    43,
                44,
             ...
             14913, 14925, 14926, 14927, 14948, 14981, 14986, 14987, 14988,
             14989],
            dtype='int64', length=1372),
 ('technical',
  'medium'): Int64Index([  113,   114,   115,   116,   188,   191,   192,   193,   194,
               265,
             ...
             14866, 14904, 14905, 14906, 14907, 14979, 14982, 14983, 14984,
             14985],
            dtype='int64', length=1147)}

* Selecting a group

In [24]:
grouped = hr_data.groupby(['department','salary'])

In [27]:
grouped.get_group(('technical','low')).head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
35,0.10,0.94,6,255,4,0,1,0,technical,low
36,0.38,0.46,2,137,3,0,1,0,technical,low
37,0.45,0.50,2,126,3,0,1,0,technical,low
38,0.11,0.89,6,306,4,0,1,0,technical,low
39,0.41,0.54,2,152,3,0,1,0,technical,low

### Aggregation 
* Once the GroupBy object has been created, several methods are available to perform a computation on the grouped data. 
* These operations are similar to the aggregating API, window functions API, and resample API.

In [28]:
grouped.number_project.aggregate(np.mean)

department   salary
IT           high      3.867470
             low       3.794745
             medium    3.833645
RandD        high      3.764706
             low       3.804945
             medium    3.913978
accounting   high      3.905405
             low       3.801676
             medium    3.832836
hr           high      3.888889
             low       3.692537
             medium    3.590529
management   high      3.777778
             low       3.777778
             medium    4.008889
marketing    high      3.425000
             low       3.751244
             medium    3.675532
product_mng  high      3.705882
             low       3.824834
             medium    3.804178
sales        high      3.858736
             low       3.757980
             medium    3.785553
support      high      3.794326
             low       3.787086
             medium    3.825902
technical    high      3.651741
             low       3.910350
             medium    3.878814
Name: number_project, dtype: float64

In [36]:
grouped.agg([np.mean,np.max])

                   satisfaction_level       last_evaluation        \
                                 mean  amax            mean  amax
department  salary
IT          high             0.638193  0.99        0.716627  0.99
            low              0.610099  1.00        0.715665  1.00
            medium           0.624187  1.00        0.718187  1.00
RandD       high             0.586667  0.97        0.700588  0.95
            low              0.623929  1.00        0.714176  1.00
            medium           0.620349  1.00        0.711694  1.00
accounting  high             0.614054  0.97        0.724595  1.00
            low              0.574162  1.00        0.713883  1.00
            medium           0.583642  1.00        0.720299  1.00
hr          high             0.673111  0.99        0.743778  0.99
            low              0.608657  1.00        0.717821  1.00
            medium           0.580306  1.00        0.696100  1.00
management  high             0.653333  0.98        0.715822  1.00
            low              0.610722  1.00        0.712833  1.00
            medium           0.597867  1.00        0.741111  1.00
marketing   high             0.605250  1.00        0.663625  1.00
            low              0.602910  0.99        0.727587  1.00
            medium           0.638218  1.00        0.714495  1.00
product_mng high             0.614118  0.99        0.665735  0.98
            low              0.620909  1.00        0.725831  1.00
            medium           0.619112  1.00        0.710418  1.00
sales       high             0.648959  1.00        0.699814  0.99
            low              0.600838  1.00        0.709247  1.00
            medium           0.625327  1.00        0.711778  1.00
support     high             0.655035  0.99        0.714113  1.00
            low              0.591710  1.00        0.719494  1.00
            medium           0.645149  1.00        0.728854  1.00
technical   high             0.625970  1.00        0.699453  1.00
            low              0.594322  1.00        0.723367  1.00
            medium           0.620968  1.00        0.722180  1.00

                   number_project      average_montly_hours       \
                             mean amax                 mean amax
department  salary
IT          high         3.867470    6           194.927711  275
            low          3.794745    7           201.382594  308
            medium       3.833645    7           204.295327  308
RandD       high         3.764706    6           199.745098  287
            low          3.804945    7           198.747253  308
            medium       3.913978    7           202.954301  301
accounting  high         3.905405    6           205.905405  277
            low          3.801676    7           199.899441  308
            medium       3.832836    7           201.465672  310
hr          high         3.888889    6           209.066667  289
            low          3.692537    7           202.456716  310
            medium       3.590529    7           193.863510  310
management  high         3.777778    6           200.248889  286
            low          3.777778    7           200.744444  307
            medium       4.008889    7           202.653333  304
marketing   high         3.425000    6           185.575000  286
            low          3.751244    7           204.487562  310
            medium       3.675532    7           196.869681  300
product_mng high         3.705882    6           194.632353  307
            low          3.824834    7           201.048780  310
            medium       3.804178    7           199.637076  310
sales       high         3.858736    7           201.178439  306
            low          3.757980    7           200.363030  307
            medium       3.785553    7           201.520316  310
support     high         3.794326    6           203.985816  286
            low          3.787086    7           198.900524  310
            medium       3.825902    7           202.535032  310
technical   high         3.651741    6           200.044776  284
            low          3.910350    7           203.064869  310
            medium       3.878814    7           202.248474  310

                   time_spend_company      Work_accident           left       \
                                 mean amax          mean amax      mean amax
department  salary
IT          high             3.072289    6      0.048193    1  0.048193    1
            low              3.438424   10      0.146141    1  0.282430    1
            medium           3.564486   10      0.132710    1  0.181308    1
RandD       high             3.529412    8      0.176471    1  0.078431    1
            low              3.381868    8      0.195055    1  0.151099    1
            medium           3.330645    6      0.145161    1  0.166667    1
accounting  high             3.216216    8      0.202703    1  0.067568    1
            low              3.438547   10      0.111732    1  0.276536    1
            medium           3.680597   10      0.122388    1  0.298507    1
hr          high             2.911111    6      0.088889    1  0.133333    1
            low              3.259701    6      0.137313    1  0.274627    1
            medium           3.501393    8      0.108635    1  0.325905    1
management  high             5.164444   10      0.160000    1  0.004444    1
            low              3.411111   10      0.166667    1  0.327778    1
            medium           4.155556   10      0.164444    1  0.137778    1
marketing   high             3.512500   10      0.162500    1  0.112500    1
            low              3.527363   10      0.154229    1  0.313433    1
            medium           3.627660   10      0.167553    1  0.180851    1
product_mng high             3.617647   10      0.191176    1  0.088235    1
            low              3.434590   10      0.150776    1  0.232816    1
            medium           3.498695   10      0.133159    1  0.227154    1
sales       high             3.550186   10      0.137546    1  0.052045    1
            low              3.464030   10      0.126251    1  0.332063    1
            medium           3.614560   10      0.160835    1  0.170993    1
support     high             3.219858   10      0.219858    1  0.056738    1
            low              3.484293   10      0.151832    1  0.339442    1
            medium           3.307856   10      0.148620    1  0.167728    1
technical   high             3.313433   10      0.149254    1  0.124378    1
            low              3.397230   10      0.142128    1  0.275510    1
            medium           3.445510   10      0.136007    1  0.256321    1

                   promotion_last_5years
                                    mean amax
department  salary
IT          high                0.000000    0
            low                 0.003284    1
            medium              0.001869    1
RandD       high                0.019608    1
            low                 0.008242    1
            medium              0.061828    1
accounting  high                0.081081    1
            low                 0.005587    1
            medium              0.017910    1
hr          high                0.044444    1
            low                 0.005970    1
            medium              0.030641    1
management  high                0.200000    1
            low                 0.038889    1
            medium              0.075556    1
marketing   high                0.062500    1
            low                 0.027363    1
            medium              0.071809    1
product_mng high                0.000000    0
            low                 0.000000    0
            medium              0.000000    0
sales       high                0.044610    1
            low                 0.009528    1
            medium              0.038375    1
support     high                0.000000    0
            low                 0.006108    1
            medium              0.013800    1
technical   high                0.004975    1
            low                 0.008746    1
            medium              0.013078    1

### Descriptive statistics of grouped data

In [30]:
grouped.size()

department   salary
IT           high        83
             low        609
             medium     535
RandD        high        51
             low        364
             medium     372
accounting   high        74
             low        358
             medium     335
hr           high        45
             low        335
             medium     359
management   high       225
             low        180
             medium     225
marketing    high        80
             low        402
             medium     376
product_mng  high        68
             low        451
             medium     383
sales        high       269
             low       2099
             medium    1772
support      high       141
             low       1146
             medium     942
technical    high       201
             low       1372
             medium    1147
dtype: int64

In [31]:
grouped.describe()

                   satisfaction_level                                    \
                                count      mean       std   min     25%
department  salary
IT          high                 83.0  0.638193  0.223749  0.15  0.5250
            low                 609.0  0.610099  0.258915  0.09  0.4100
            medium              535.0  0.624187  0.243297  0.09  0.4900
RandD       high                 51.0  0.586667  0.228785  0.10  0.4400
            low                 364.0  0.623929  0.242586  0.09  0.4700
            medium              372.0  0.620349  0.250293  0.09  0.4775
accounting  high                 74.0  0.614054  0.237319  0.11  0.5000
            low                 358.0  0.574162  0.252250  0.09  0.4000
            medium              335.0  0.583642  0.262273  0.09  0.4000
hr          high                 45.0  0.673111  0.250616  0.09  0.5500
            low                 335.0  0.608657  0.239902  0.09  0.4400
            medium              359.0  0.580306  0.253324  0.09  0.4050
management  high                225.0  0.653333  0.194436  0.14  0.5300
            low                 180.0  0.610722  0.254620  0.09  0.4350
            medium              225.0  0.597867  0.233161  0.09  0.4800
marketing   high                 80.0  0.605250  0.255784  0.14  0.4350
            low                 402.0  0.602910  0.256258  0.09  0.4200
            medium              376.0  0.638218  0.227333  0.09  0.4900
product_mng high                 68.0  0.614118  0.248038  0.09  0.4500
            low                 451.0  0.620909  0.248181  0.09  0.4450
            medium              383.0  0.619112  0.234720  0.09  0.4500
sales       high                269.0  0.648959  0.236264  0.10  0.5200
            low                2099.0  0.600838  0.251686  0.09  0.4200
            medium             1772.0  0.625327  0.249707  0.09  0.4500
support     high                141.0  0.655035  0.225644  0.15  0.5100
            low                1146.0  0.591710  0.255661  0.09  0.4000
            medium              942.0  0.645149  0.234231  0.09  0.5100
technical   high                201.0  0.625970  0.219279  0.10  0.4900
            low                1372.0  0.594322  0.264359  0.09  0.4100
            medium             1147.0  0.620968  0.246691  0.09  0.4500

                                        last_evaluation            ... left  \
                      50%     75%   max           count      mean  ...  75%
department  salary                                                 ...
IT          high    0.650  0.7800  0.99            83.0  0.716627  ...  0.0
            low     0.650  0.8200  1.00           609.0  0.715665  ...  1.0
            medium  0.660  0.8100  1.00           535.0  0.718187  ...  0.0
RandD       high    0.600  0.7450  0.97            51.0  0.700588  ...  0.0
            low     0.675  0.8200  1.00           364.0  0.714176  ...  0.0
            medium  0.650  0.8300  1.00           372.0  0.711694  ...  0.0
accounting  high    0.620  0.8300  0.97            74.0  0.724595  ...  0.0
            low     0.590  0.7800  1.00           358.0  0.713883  ...  1.0
            medium  0.630  0.8000  1.00           335.0  0.720299  ...  1.0
hr          high    0.730  0.8600  0.99            45.0  0.743778  ...  0.0
            low     0.620  0.8100  1.00           335.0  0.717821  ...  1.0
            medium  0.600  0.7950  1.00           359.0  0.696100  ...  1.0
management  high    0.680  0.8000  0.98           225.0  0.715822  ...  0.0
            low     0.655  0.8050  1.00           180.0  0.712833  ...  1.0
            medium  0.630  0.7600  1.00           225.0  0.741111  ...  0.0
marketing   high    0.610  0.8275  1.00            80.0  0.663625  ...  0.0
            low     0.630  0.8100  0.99           402.0  0.727587  ...  1.0
            medium  0.670  0.8200  1.00           376.0  0.714495  ...  0.0
product_mng high    0.625  0.8225  0.99            68.0  0.665735  ...  0.0
            low     0.650  0.8300  1.00           451.0  0.725831  ...  0.0
            medium  0.640  0.8100  1.00           383.0  0.710418  ...  0.0
sales       high    0.690  0.8200  1.00           269.0  0.699814  ...  0.0
            low     0.630  0.8100  1.00          2099.0  0.709247  ...  1.0
            medium  0.660  0.8300  1.00          1772.0  0.711778  ...  0.0
support     high    0.670  0.8600  0.99           141.0  0.714113  ...  0.0
            low     0.630  0.8000  1.00          1146.0  0.719494  ...  1.0
            medium  0.680  0.8300  1.00           942.0  0.728854  ...  0.0
technical   high    0.640  0.7900  1.00           201.0  0.699453  ...  0.0
            low     0.630  0.8200  1.00          1372.0  0.723367  ...  1.0
            medium  0.660  0.8300  1.00          1147.0  0.722180  ...  1.0

                        promotion_last_5years                                \
                    max                 count      mean       std  min  25%
department  salary
IT          high    1.0                  83.0  0.000000  0.000000  0.0  0.0
            low     1.0                 609.0  0.003284  0.057260  0.0  0.0
            medium  1.0                 535.0  0.001869  0.043234  0.0  0.0
RandD       high    1.0                  51.0  0.019608  0.140028  0.0  0.0
            low     1.0                 364.0  0.008242  0.090534  0.0  0.0
            medium  1.0                 372.0  0.061828  0.241167  0.0  0.0
accounting  high    1.0                  74.0  0.081081  0.274823  0.0  0.0
            low     1.0                 358.0  0.005587  0.074639  0.0  0.0
            medium  1.0                 335.0  0.017910  0.132824  0.0  0.0
hr          high    1.0                  45.0  0.044444  0.208409  0.0  0.0
            low     1.0                 335.0  0.005970  0.077151  0.0  0.0
            medium  1.0                 359.0  0.030641  0.172583  0.0  0.0
management  high    1.0                 225.0  0.200000  0.400892  0.0  0.0
            low     1.0                 180.0  0.038889  0.193869  0.0  0.0
            medium  1.0                 225.0  0.075556  0.264875  0.0  0.0
marketing   high    1.0                  80.0  0.062500  0.243589  0.0  0.0
            low     1.0                 402.0  0.027363  0.163343  0.0  0.0
            medium  1.0                 376.0  0.071809  0.258515  0.0  0.0
product_mng high    1.0                  68.0  0.000000  0.000000  0.0  0.0
            low     1.0                 451.0  0.000000  0.000000  0.0  0.0
            medium  1.0                 383.0  0.000000  0.000000  0.0  0.0
sales       high    1.0                 269.0  0.044610  0.206830  0.0  0.0
            low     1.0                2099.0  0.009528  0.097170  0.0  0.0
            medium  1.0                1772.0  0.038375  0.192153  0.0  0.0
support     high    1.0                 141.0  0.000000  0.000000  0.0  0.0
            low     1.0                1146.0  0.006108  0.077950  0.0  0.0
            medium  1.0                 942.0  0.013800  0.116724  0.0  0.0
technical   high    1.0                 201.0  0.004975  0.070535  0.0  0.0
            low     1.0                1372.0  0.008746  0.093146  0.0  0.0
            medium  1.0                1147.0  0.013078  0.113657  0.0  0.0


                    50%  75%  max
department  salary
IT          high    0.0  0.0  0.0
            low     0.0  0.0  1.0
            medium  0.0  0.0  1.0
RandD       high    0.0  0.0  1.0
            low     0.0  0.0  1.0
            medium  0.0  0.0  1.0
accounting  high    0.0  0.0  1.0
            low     0.0  0.0  1.0
            medium  0.0  0.0  1.0
hr          high    0.0  0.0  1.0
            low     0.0  0.0  1.0
            medium  0.0  0.0  1.0
management  high    0.0  0.0  1.0
            low     0.0  0.0  1.0
            medium  0.0  0.0  1.0
marketing   high    0.0  0.0  1.0
            low     0.0  0.0  1.0
            medium  0.0  0.0  1.0
product_mng high    0.0  0.0  0.0
            low     0.0  0.0  0.0
            medium  0.0  0.0  0.0
sales       high    0.0  0.0  1.0
            low     0.0  0.0  1.0
            medium  0.0  0.0  1.0
support     high    0.0  0.0  0.0
            low     0.0  0.0  1.0
            medium  0.0  0.0  1.0
technical   high    0.0  0.0  1.0
            low     0.0  0.0  1.0
            medium  0.0  0.0  1.0

[30 rows x 64 columns]

In [4]:
grouped = hr_data.groupby(['department'])

In [40]:
grouped.agg(mean_projects=('number_project','mean'), mean_satisfaction=('satisfaction_level','mean'))

             mean_projects  mean_satisfaction
department
IT                3.816626           0.618142
RandD             3.853875           0.619822
accounting        3.825293           0.582151
hr                3.654939           0.598809
management        3.860317           0.621349
marketing         3.687646           0.618601
product_mng       3.807095           0.619634
sales             3.776329           0.614447
support           3.803948           0.618300
technical         3.877941           0.607897

In [16]:
grouped.transform(lambda x : x + 2 )

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
0,2.38,2.53,4,159,5,2,3,2
1,2.80,2.86,7,264,8,2,3,2
2,2.11,2.88,9,274,6,2,3,2
3,2.72,2.87,7,225,7,2,3,2
4,2.37,2.52,4,161,5,2,3,2
5,2.41,2.50,4,155,5,2,3,2
6,2.10,2.77,8,249,6,2,3,2
7,2.92,2.85,7,261,7,2,3,2
8,2.89,3.00,7,226,7,2,3,2
9,2.42,2.53,4,144,5,2,3,2
10,2.45,2.54,4,137,5,2,3,2
11,2.11,2.81,8,307,6,2,3,2
12,2.84,2.92,6,236,7,2,3,2
13,2.41,2.55,4,150,5,2,3,2
14,2.36,2.56,4,139,5,2,3,2
15,2.38,2.54,4,145,5,2,3,2
16,2.45,2.47,4,162,5,2,3,2
17,2.78,2.99,6,257,8,2,3,2
18,2.45,2.51,4,162,5,3,3,3
19,2.76,2.89,7,264,7,2,3,2
20,2.11,2.83,8,284,6,2,3,2
21,2.38,2.55,4,149,5,2,3,2
22,2.09,2.95,8,306,6,2,3,2
23,2.46,2.57,4,141,5,2,3,2
24,2.40,2.53,4,160,5,2,3,2
25,2.89,2.92,7,244,7,2,3,2
26,2.82,2.87,6,241,7,2,3,2
27,2.40,2.49,4,137,5,2,3,2
28,2.41,2.46,4,130,5,2,3,2
29,2.38,2.50,4,134,5,2,3,2
...,...,...,...,...,...,...,...,...
14969,2.43,2.46,4,159,5,2,3,2
14970,2.78,2.93,6,227,7,2,3,2
14971,2.39,2.45,4,142,5,2,3,2
14972,2.11,2.97,8,312,6,2,3,2
14973,2.36,2.52,4,145,5,2,3,2
14974,2.36,2.54,4,155,5,2,3,2
14975,2.10,2.79,9,312,6,2,3,2
14976,2.40,2.47,4,138,5,2,3,2
14977,2.81,2.85,6,253,8,2,3,2
14978,2.40,2.47,4,146,5,2,3,2
14979,2.09,2.93,8,298,6,2,3,2
14980,2.76,2.89,7,240,7,2,3,2
14981,2.73,2.93,7,164,6,2,3,2
14982,2.38,2.49,4,139,5,2,3,2
14983,2.72,2.84,7,259,7,2,3,2
14984,2.40,2.56,4,150,5,2,3,2
14985,2.91,2.99,7,256,7,2,3,2
14986,2.85,2.85,6,249,8,2,3,2
14987,2.90,2.70,7,208,6,2,3,2
14988,2.46,2.55,4,147,5,2,3,2
14989,2.43,2.57,4,161,5,3,3,2
14990,2.89,2.88,7,230,7,3,3,2
14991,2.09,2.81,8,259,6,2,3,2
14992,2.40,2.48,4,157,5,2,3,2
14993,2.76,2.83,8,295,8,2,3,2
14994,2.40,2.57,4,153,5,2,3,2
14995,2.37,2.48,4,162,5,2,3,2
14996,2.37,2.53,4,145,5,2,3,2
14997,2.11,2.96,8,282,6,2,3,2
14998,2.37,2.52,4,160,5,2,3,2